body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(0, 17, 58);
    max-width: 1900px;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Roboto', Segoe UI, Geneva, Verdana, sans-serif;
}

nav {
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    list-style: none;
    font-family: 'Montserrat', Segoe UI, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

nav a {
    text-decoration: none;
    color: rgb(238, 231, 231);
}

nav a:hover {
    color: rgb(241, 99, 89);
}

main {
    background-color: rgb(233, 232, 232);
    width: 80%;
}

header {
    width: 100%;
    background-color: rgb(0, 17, 58);
}

.headpic {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.headpic img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.pictures {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.piturecontainer {
    background-color: rgb(0, 17, 58);
    color: rgb(238, 231, 231);
    padding: 1rem;
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
}

.piturecontainer img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

@media (max-width: 600px) {
    
  .pictures {
    grid-template-columns: 1fr;
  }
}
