* {
    box-sizing: border-box;
}

/*Generella inställningar för hela webbplatsen. Layout och färg och font*/
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 17, 58);
    max-width: 1900px;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Roboto', Segoe UI, Geneva, Verdana, sans-serif;
}

/*Höjd på main*/
main {
    min-height: 100vh;
}

/*Layout för header*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Stil för huvudrubrik*/
h1 {
    color: rgb(238, 231, 231);
    font-family: 'Montserrat', Segoe UI, Geneva, Verdana, sans-serif;
    padding-bottom: 1rem;
}

/*Färg på underrubrik*/
h2 {
    color: rgb(0, 17, 58);
}

/*Positionering av sektioner*/
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Padding (luft) för navigatonsmeny*/
nav {
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

/*Styling och position för meny*/
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    list-style: none;
    font-family: 'Montserrat', Segoe UI, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0;
}

/*Styling för länkar i meny*/
nav a {
    text-decoration: none;
    color: rgb(238, 231, 231);
}

nav a:hover {
    color: rgb(241, 99, 89);
}

.active {
    color: rgb(241, 99, 89);
}

/*Döljer hamburharen i desktopläge*/
.hamburger {
    display: none;
}

/*Färg, position och storlek för main*/
main {
    background-color: rgb(233, 232, 232);
    width: 70%;
    max-width: 1024px;
    margin-top: 0.7rem;
    border-radius: 5px;
    padding-top: 1.5rem;
}


/*Storlek och färg för main*/
header {
    width: 100%;
    background-color: rgb(0, 17, 58);
}

/*Position och stil för bild i header*/
.headpic {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-top: 3px solid rgb(233, 232, 232);
    border-bottom: 3px solid rgb(233, 232, 232);
}

/*Storlek för bild i header*/
.headpic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Positionering för sektionen med bilder*/
.pictures {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-bottom: 3rem;
}

/*Styling för de individuella bild-korten*/
.piturecontainer {
    background-color: rgb(0, 17, 58);
    color: rgb(238, 231, 231);
    padding: 1rem;
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
}

/*Storlek på bild i bildkorten*/
.piturecontainer img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/*Sektionen för beskrivning av arbetsprocess*/
.process {
    max-width: 70ch;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
}

/*Position och stil för footer*/
footer {
    color: rgb(238, 231, 231);
    align-self: flex-start;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}



/*// SKÄRMSTORLEK UNDER 700PX  //*/
@media (max-width: 700px) {

    /*Positionering för innehåll i header*/
    header {
        display: flex;
        justify-content: left;
        align-items: flex-start;
    }

    /*MInskad fontsize på huvudrubrik*/
    h1 {
        padding-left: 2rem;
        font-size: 1.5rem;
    }

    /*Storlek, styling och position för hamburgerikon*/
    .hamburger {
        display: block;
        font-size: 2.5rem;
        background: none;
        border: none;
        color: rgb(238, 231, 231);
        padding-left: 2rem;
        padding-top: 1rem;
    }

    /*Döljer navbaren för desktop*/
    .navbar ul {
        display: none;
        background-color: rgb(0, 17, 58);
        padding-left: 2rem;
    }

    /*Färg och position för menylänkar*/
    .navbar ul li a {
        display: block;
        color: rgb(238, 231, 231);
        padding-bottom: 1rem;
    }

    .navbar ul li a:hover {
        color: rgb(241, 99, 89);
    }

    /*Visar menyn när hamburgaren är klickad*/
    .navbar ul.show {
        display: block;
    }


    /*Ändad grid-layout för bilder*/
    .pictures {
        grid-template-columns: 1fr;
    }

    /*Storlek på main*/
    main {
        width: 95%;
    }

}